@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$Moderate-blue: hsl(238, 40%, 52%);
$Soft-Red: hsl(358, 79%, 66%);
$Light-grayish-blue: hsl(239, 57%, 85%);
$Pale-red: hsl(357, 100%, 86%);

$Dark-blue: hsl(212, 24%, 26%);
$Grayish-Blue: hsl(211, 10%, 45%);
$Light-gray: hsl(223, 19%, 93%);
$Very-light-gray: hsl(228, 33%, 97%);
$White: hsl(0, 0%, 100%);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $Light-gray;
}

form{
    width: 672px;
    padding: 20px;
    border: 1px solid;

    img{
        width: 40px;
        height: 40px;
        margin-right: 15px;
    }

    #coment{
        width: 400px;
        height: 100px;
    }

    #send{
        padding: 17px 35px;
    }
}

#main{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0;

}
.card{
    width: 672px;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px;
    background-color: $White;
}
.hover{
    fill: red;
}
.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    margin-right: 20px;
    padding: 5px;
    border-radius: 8px;
    background-color: $Light-gray;
    color: $Light-grayish-blue;
    

    img{
        cursor: pointer;
        fill: $Moderate-blue;
        
    }

    .value{
        padding: 12px 0;
        color: $Moderate-blue;
    }
}

.content{
    //border: 1px solid red;
}

#value{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 5px;
}


.header{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;

    img{
        width: 30px;
        height: 30px;
        margin-right: 15px;
    }

    strong{
        margin-right: 15px;
    }

    .date{
      //  margin-right: 55%;
    }

    .divReply{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        right: 0;

        img{
            width: 12px;
            height: 12px;
            margin-right: 8px;
        }
    }
    
}

.cardResponse{
    width: 600px;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px;
    background-color: hsl(0, 0%, 100%);
    
    .reply-container{
        width: 572px;
    
    }
}

.line{
    border-left: 1px solid red;
    padding-left: 41px;
}